.multiline-input-container {
    // -webkit-box-shadow: 2px 3px 2px -1px rgba(84, 80, 84, 0.74);
    //     -moz-box-shadow: 2px 3px 2px -1px rgba(84, 80, 84, 0.74);
    //     box-shadow: 2px 3px 2px -1px rgba(84, 80, 84, 0.74);
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    background-color: transparent;
    margin-block: 10px;
    border-radius: 10px;
}

.multiline-input {
    background-color: transparent;
    min-height: 150px;
    outline: none;
    overflow-y: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 0;
}

.multiline-input.not-empty::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    color: #918f8f;
    pointer-events: none;
    font-weight: 400;
}