/* style.css */
.activeLink {
    background-color: gray;
    color: white;
    /* Autres styles */
  }
  
  //hover-card 
  .hover_card{
    &:hover{
      transform: scale(1.05);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }

  .imageA{
    object-fit: cover;
    width:700px;
  }